.mat-button-base {
    margin: 8px 8px 8px 8px;
    width: 15%;
    min-width: 200px;
  }

  .show_folders{
    display: flex;
    flex-direction: column;
    
}

.show_folders label{
    width: 30%;
    margin: 7px;
    border: 1px solid black;
}

.show_folders button{
    width: 20%;
}

.photos-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.photos-div img, .photos-div video{
    width: 40%;
}


input[type=file]{
    display: none;
}

.folder-collection{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.folder {
    width: 10%;
    margin: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}

.folder img{
    width: 100%;
    margin: 10px;
}

.selected{
    border: 2px solid black;
    border-radius: 5px;
}


