<section>
    <input  type="file" multiple="multiple" accept=".png, .jpg, .jpeg, .gif, .mp4" (change)="addFiles($event)"  #fileUpload>
    <div class="folder-collection">

        <div *ngIf="!showPublicFolders" class="folder" (click)="addFolder()" mat-button>
            <mat-icon>create_new_folder</mat-icon>
            <label>Criar pasta</label>
        </div>
        <div *ngFor="let folder of folders" mat-button [matMenuTriggerFor]="menu" (click)="selectFolder(folder)"  [className]="folder == selectedFolder ? 'folder selected' : 'folder'">
            <mat-icon >folder</mat-icon>
            <label [className]="folder.isAgeRestricted ? 'restricted' : 'non-restricted'" >{{ folder.name }}</label>
            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item routerLink="/folders/{{folder.key}}">Abrir</button>
                <button mat-menu-item (click)="fileUpload.click()" *ngIf="!showPublicFolders">Adicionar arquivos</button>
                <button mat-menu-item (click)="deleteFolder(folder)" *ngIf="!showPublicFolders">Excluir</button>
            </mat-menu>
        </div>
    

    </div>
    

</section>