<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <mat-form-field>
    <mat-label>E-mail</mat-label>
    <input matInput placeholder="teste@exemplo.com" formControlName='email' required>
    <mat-error *ngIf="f.email.invalid">{{getEmailErrorMessage()}}</mat-error>

  </mat-form-field>
  <mat-form-field>
    <mat-label>Senha</mat-label>
    <input matInput formControlName='password' [type]="'password'" required>
    <mat-error *ngIf="f.password.invalid">{{getPasswordErrorMessage()}}</mat-error>
  </mat-form-field>


  <div class="buttons-div">
    <button mat-raised-button color="primary"
    (click)="onSubmit()"
    [disabled]="!loginForm.valid">Login</button>
    <button mat-raised-button color="primary">Esqueci minha senha</button>
  </div>
  <mat-label>Não possui acesso? <a routerLink="sign-up">Cadastre-se!</a></mat-label>

</form>