
.form-card {
    width: 100%;
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
    border-radius: 10px;
}


.mat-card-header{
    justify-content: center;
}

mat-form-field {
    display: block;
    margin: 5px;

}

.buttons-div{
    
    display: flex;
   justify-content: space-around;
    margin: 10px 0 15px 0;

}