<mat-toolbar color="primary">

    
    <div *ngIf="authService.isAuthenticated(); else elseBlock">
        <span class="headerLink" [routerLink]="['/folders']">Inicio </span>
        <span class="headerLink">Pastas públicas</span>

    </div>

    <ng-template #elseBlock><span style="font-size: 1.5em;">MyReaderProject</span></ng-template>
    <span style="flex: 1 1 auto;"></span>
    <div class="account_icon" *ngIf="authService.isAuthenticated()">
        <span>{{ getUsername()}}</span>
        <button mat-icon-button [matMenuTriggerFor]="profileMenu">
            <mat-icon>account_circle</mat-icon>
        </button>

        <mat-menu #profileMenu="matMenu" >
            <button mat-menu-item [routerLink]="['/profile']">Minha conta</button>
            <button mat-menu-item (click)="this.authService.signOut();">Sair</button>
        </mat-menu>

    </div>
</mat-toolbar>