<h1>Confirmar senha</h1>

<div mat-dialog-content>
    <p>É necessário informar sua senha novamente para prosseguir com essa ação</p>

    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Insira sua senha</mat-label>
          <input matInput type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

      </form>
</div>
<div mat-dialog-actions>
  
  <button mat-flat-button mat-button (click)="confirmUserPassword(password)" color="primary">Confirmar senha</button>
</div>